/***********************/
/* RoundedShadowedLayer
/***********************/
.rsf_left_top
{
    width: 15px;
    height: 15px;
    background-image: url("/images/background2/left_top.png");
}

.rsf_left_bottom
{
    width: 15px;
    height: 15px;
    background-image: url("/images/background2/left_bottom.png");
}

.rsf_right_top
{
    width: 15px;
    height: 15px;
    background-image: url("/images/background2/right_top.png");
}

.rsf_right_bottom
{
    width: 15px;
    height: 15px;
    background-image: url("/images/background2/right_bottom.png");
}

.rsf_bottom
{
    height: 15px;
    background-image: url("/images/background2/bottom.png");
}

.rsf_top
{
    height: 15px;
    background-image: url("/images/background2/top.png");
}
.rsf_right
{
    width: 15px;
    background-image: url("/images/background2/right.png");
}

.rsf_left
{
    width: 15px;
    background-image: url("/images/background2/left.png");
}


/***********************/
/* Cadre dans MenuPage
/***********************/
.metal_right
{
	width:15px;
	background: url('/images/background/right.png');
}

.metal_top
{
	height: 15px;
	background: url('/images/background/top.png');;
}

.metal_left
{
	width:15px;
	background: url('/images/background/left.png');
}

.metal_bottom
{
	height: 15px;
	background: url('/images/background/bottom.png');
}

/***********************/
/* Style des elements standards
/***********************/
BODY
{
	margin: 0px 0px 0px 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: arial, sans-serif; 
	font-size: 10px;
}

FORM
{
	padding: 0 0 0 0;
	margin: 0;
}

H1
{
	margin-bottom: 0px;
	font-size: 14px;
}


H2
{
	color: green;
	margin-bottom: 0px;
	font-size: 12px;
}

H3
{
	color: grey;
	margin-bottom: 0px;
	font-size: 10px;
	text-align:  left;
	border-bottom: 1px solid grey;
}

H4
{
	font-size: 10px;
	display: inline;
	border: 1px dashed grey;
	background-color: white;
	padding: 5 5 5 5;
}

H5
{
}

H6
{
}

H7
{
}

	
CODE
{
	font-style: italic;	
}

INPUT[type="text"]
{
	/*border: 1px solid #d71919;*/
	font-size: 10px;
}

INPUT.TextField
{
	/*border: 1px solid #d71919;*/
	font-size: 10px;
}

INPUT[type="password"]
{
	/*border: 1px solid #d71919;*/
	font-size: 10px;
}

INPUT.Button
{
	border: 2px solid #d71919;
	background: white;
	font-size: 10px;
	color: #d71919;
}


INPUT[type="submit"]
{
	border: 2px solid #d71919;
	background: white;
	font-size: 10px;
	color: #d71919;
	font-family: verdana, arial, sans-serif; 
}

INPUT[type="button"]
{
	border: 2px solid #d71919;
	background: white;
	font-size: 10px;
	color: #d71919;
	font-family: verdana, arial, sans-serif; 
}

INPUT.Button
{
	border: 1px outset #a11313;
	padding: 1 6 1 6;
	background-color: white;
	font-size: 10px;
	color: #a11313;
	font-family: verdana, arial, sans-serif; 
}

INPUT.Button:HOVER
{
	background-color: #a11313;
	color: #ffffff;
}

INPUT.DefaultButton
{
	border: 2px outset #a11313;
	background-color: white;
	font-size: 10px;
	color: #a11313;
	font-family: verdana, arial, sans-serif; 
}


INPUT.DefaultButton:HOVER
{
	background-color: #a11313;
	color: #ffffff;
}


INPUT[type="submit"]:HOVER
{
	background-color: #a11313;
}

SELECT
{
	font-family: arial, sans-serif; 
	font-size: 10px;
}

A
{
	color: #2286e3;
	text-decoration: underline;
	font-size: 10px;
	font-family: verdana, helvetica, arial, sans-serif; 
}

A:VISITED{color: #2286e3;}
A:HOVER{color: #1a68b0;}
A:ACTIVE{color: #2286e3;}

FORM A{color: blue;}
FORM A:VISITED{color: blue;}
FORM A:HOVER{color: blue; text-decoration: underline}
FORM A:ACTIVE{color: blue;}

A.copyright
{
	color: #9c9c9c;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dotted;
	font-size: 10px;
}

A.copyright:VISITED{color: #9c9c9c;}
A.copyright:HOVER{color: #9c9c9c; border-bottom: 1px solid;}
A.copyright:ACTIVE{color: #9c9c9c;}

TABLE
{
	empty-cells: show;
}

TH
{
	font-size: 10px;
	background: #d71919;
	color: white;
}
	
TD
{
	font-size: 10px;	
}
	
SPAN
{
	white-space: nowrap;
}

TABLE.TableWithBorder
{
	border: 1px dotted #d71919;
}

TABLE.menuPanel
{
	border: 2px inset;
	width: 100%;
}

A.menuItem
{
	border: 1px solid #999999;
	background: url('/images/images.jpg');
	color: white;
	text-decoration: none;
	width: 100%;
	display: block;
}

A.menuItem:visited
{
	border: 1px solid #999999;
	background: url('/images/images.jpg');
	color: white;
	text-decoration: none;
	width: 100%;
	display: block;
}

A.menuItem:active
{
	border: 1px solid #999999;
	background: url('/images/images.jpg');
	color: white;
	text-decoration: none;
	width: 100%;
	display: block;
}

A.menuItem:hover
{
	background: #e1e1e1;
	color: black;
}

A.menuItemActive
{
	border: 1px solid #999999;
	background: white;
	color: #9e2929;
	text-decoration: none;
	width: 100%;
	display: block;
}

A.menuItemActive:hover
{
	border: 1px solid #999999;
	background: white;
	color: #9e2929;
	text-decoration: none;
	width: 100%;
	display: block;
}

A.menuItemActive:visited
{
	border: 1px solid #999999;
	background: white;
	color: #9e2929;
	text-decoration: none;
	width: 100%;
	display: block;
}

A.menuItemActive:active
{
	border: 1px solid #999999;
	background: white;
	color: #9e2929;
	text-decoration: none;
	width: 100%;
	display: block;
}

.JavaSourceCode
{
	font-size: 12px;	
}

code.java
{
	font-size: 10px;
	font-style: normal;		
}

TABLE .content_body
{
		background: #f1ffd4;
}

DIV.java_file_content
{
	border: 1px dashed grey;
	background: white;
	width: 96%;
	padding-top: 7px;
}
	
SPAN.QueryResult
{
	color: navy;
}

/***********************/
/* ShadowedLayer
/***********************/
TD.lb_corner_shadow
{
	width: 5px;
	height: 8px;
	background-repeat: no-repeat;
	background-image:url(/images/shadows/lb_corner_shadow.png);
}

TD.rb_corner_shadow
{
	width: 8px;
	height: 8px;
	background-repeat: no-repeat;
	background-image:url(/images/shadows/rb_corner_shadow.png);
}

TD.rt_corner_shadow
{
	width: 8px;
	height: 8px;
	background-repeat: no-repeat;
	background-image:url(/images/shadows/rt_corner_shadow.png);
}

TD.horizontal_shadow
{
	height: 8px;
	background-repeat: repeat-x;
	background-image:url(/images/shadows/horizontal_shadow.png);
}

TD.vertical_shadow
{
	width: 8px;
	background-repeat: repeat-y;
	background-image:url(/images/shadows/vertical_shadow.png);
}

/***********************/
/* EJTransparentLayer
/***********************/

TD.rb_transparent
{
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-image:url(/images/frames/transparent/red/rb.png);
}


TD.rt_transparent
{
	width: 20px;
	height: 37px;
	background-repeat: no-repeat;
	background-image:url(/images/frames/transparent/red/rt.png);
}

TD.lb_transparent
{
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-image:url(/images/frames/transparent/red/lb.png);
}


TD.lt_transparent
{
	width: 20px;
	height: 37px;
	background-repeat: no-repeat;
	background-image:url(/images/frames/transparent/red/lt.png);
}


TD.left_transparent
{
	width: 20px;
	background-repeat: repeat-y;
	background-image:url(/images/frames/transparent/red/left.png);
}


TD.right_transparent
{
	width: 20px;
	background-repeat: repeat-y;
	background-image:url(/images/frames/transparent/red/right.png);
}

TD.bottom_transparent
{
	height: 20px;
	background-repeat: repeat-x;
	background-image:url(/images/frames/transparent/red/bottom.png);
}


TD.top_transparent
{
	color:#463029;
	height: 37px;
	background-repeat: repeat-x;
	background-image:url(/images/frames/transparent/red/top.png);
}


/***********************/
/* Style pour code source JAVA
/***********************/
td.java, td.java-ln {vertical-align:top;}
tt.java, tt.java-ln, pre.java, pre.java-ln {line-height:1em; margin-bottom:0em;}
td.java-ln { text-align:right; }
tt.java-ln, pre.java-ln { color:#888888 }
/* Background       */ span.java0  { color:#ffffff; }
/* Line numbers       */ span.java1  { color:#808080; }
/* Multi-line comments       */ span.java2  { color:#3f7f5f; }
/* Single-line comments       */ span.java3  { color:#3f7f5f; }
/* Keywords       */ span.java4  { color:#7f0055; font-weight:bold; }
/* Strings       */ span.java5  { color:#2a00ff; }
/* Character constants       */ span.java6  { color:#990000; }
/* Numeric constants       */ span.java7  { color:#990000; }
/* Parenthesis       */ span.java8  { color:#000000; }
/* Primitive Types       */ span.java9  { color:#7f0055; font-weight:bold; }
/* Others       */ span.java10  { color:#000000; }
/* Javadoc keywords       */ span.java11  { color:#7f9fbf; }
/* Javadoc HTML tags       */ span.java12  { color:#7f7f9f; }
/* Javadoc links       */ span.java13  { color:#3f3fbf; }
/* Javadoc others       */ span.java14  { color:#3f5fbf; }
/* Undefined       */ span.java15  { color:#ff6100; }
/* Annotation       */ span.java16  { color:#646464; }

.PopupWndTitle
{
	color: white;
	font-weight: bold;
	font-size: 12px;
	font-family: verdana, arial, sans-serif; 
}

.ErrorMsg
{
	color: red;
	text-align: center;
}

.AlertMsg
{
	color: red;
	text-align: center;
}

.WarningMsg
{
	color: orange;
	text-align: center;
}

.InfoMsg
{
	COLOR:blue;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.UserEntityCell
{
	height: 100%;
	background-color: white;
	vertical-align: top;
}

.AjaxLink,.UserEntityCell SPAN
{
	color: blue;
	font-weight: normal;
	text-decoration: underline;
	border: none;
	font-size: 11px;
	font-family: arial, sans-serif; 
	cursor: pointer;
}

.AjaxLink:HOVER,.UserEntityCell SPAN:HOVER
{
	color: navy;
	text-decoration: underline;
	border: none;
}

.UserEntityCell A
{
	color: blue;
	font-weight: normal;
	text-decoration: underline;
	border: none;
	font-size: 11px;
	font-family: arial, sans-serif; 
}

.UserEntityCell A:HOVER
{
	color: navy;
	text-decoration: underline;
	border: none;
}

.UserEntityCell A:VISITED{color: blue;}
.UserEntityCell A:ACTIVE{color: blue;}

.whiteLabel {
	color: white;
}

.rowUnSelectedOver {
	background-color: #e9e9e9;
}

.rowUnSelectedOut {
	background-color: white;
}

.rowSelectedOver {
	background-color: #ffa05a;
}

.rowSelectedOut {
	background-color: #ffc193;
}

.ParentDialogBox{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.DialogBox{
	position: absolute;
	left: 0px;
	top: 0px;
	border: 2px solid #d71919;
	background-color: white;
}

TABLE.FixedContent {
	border-collapse: collapse;
}

TABLE.FixedContent TD {
	margin: 0px;
	padding: 1px;
	height: 18px;
}

TABLE.StaticContent {
	border-collapse: collapse;
}

TABLE.EJTableHeader {
	table-layout: fixed;
	border-collapse: collapse;
	border: 1px solid #d71919;
}

.EJTableHeader TH {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-right: 1px solid white;
	padding: 0px;
}

TABLE.EJTable {
	table-layout: fixed;
	border-collapse: collapse;
}

.EJTable TD {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-right: 1px dotted gray;
	padding: 0 2 0 2;
}

DIV.EJTableContainer
{
	overflow: auto;
	border-left: 1px solid;;
	border-top: 1px solid;;
	border-bottom: 1px solid #dddddd;;
	border-right: 1px solid #dddddd;;
}

DIV.Column {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: inherit;
	margin: 0px;
	padding: 0px;
	border-left: 1px solid #dddddd;
}

DIV.Column TABLE {
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	width: 100%;
}


DIV.Column TH {
	text-align: left;
}

DIV.Column TD {
	font-size: 11px;
	white-space: nowrap;
}

DIV.Explorer {
	overflow: auto;
	height: 100%;
}

DIV.GuestExplorer#ExplorerPanelLeft {
	border: 1px dotted gray;
}

DIV.GuestExplorer#ExplorerPanelRight {
	border: 1px dotted gray;
}

DIV.Explorer#ExplorerPanelLeft {
	border-right: 1px dotted gray;
}

DIV.Explorer#ExplorerPanelRight {
	border-right: 1px dotted gray;
}

#Explorateur_PATH {
	font-size: 12px;
	font-family: Courier, sans-serif; 
}

.ToolTip {
	border: 1px solid blue;
	background-color: white;
	color: blue;
	padding: 2;
}

TABLE.Error
{
	border: 1px dotted red;
	background-color: white;
}

TABLE.Error TD
{
	color: red;
	font-weight: bold;
	font-size: 10px;
}