/***********************/
/* RoundedShadowedLayer (I.E)
/***********************/
.rsf_left_top
{
    width: 15px;
    height: 15px;
	background: none;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/background2/left_top.png', sizingMethod='crop' )";
}

.rsf_left_bottom
{
    width: 15px;
    height: 15px;
	background: none;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/background2/left_bottom.png', sizingMethod='crop' )";
}

.rsf_right_top
{
    width: 15px;
    height: 15px;
	background: none;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/background2/right_top.png', sizingMethod='crop' )";
}

.rsf_right_bottom
{
    width: 15px;
    height: 15px;
	background: none;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/background2/right_bottom.png', sizingMethod='crop' )";
}

.rsf_bottom
{
	height: 15px;
	background: none;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/background2/bottom.png', sizingMethod='scale' )";
}

.rsf_top
{
    height: 15px;
	background: none;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/background2/top.png', sizingMethod='scale' )";
}

.rsf_right
{
	width:15px;
	background: none;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/background2/right.png', sizingMethod='scale' )";
}

.rsf_left
{
    width: 15px;
	background: none;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/background2/left.png', sizingMethod='scale' )";
}

/***********************/
/* Cadre dans MenuPage
/***********************/
.metal_right
{
	width:15px;
	background: none;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/background/right.png', sizingMethod='scale' )";
}


.metal_top
{
	height: 15px;
	background: none;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/background/top.png', sizingMethod='scale' )";
}

.metal_left
{
	width:15px;
	background: none;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/background/left.png', sizingMethod='scale' )";
}


.metal_bottom
{
	height: 15px;
	background: none;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/background/bottom.png', sizingMethod='scale' )";
}


/***********************/
/* Style des elements standards
/***********************/
BODY
{
	font-size: 10pt;
	margin: 0px 0px 0px 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: arial, "lucida console", sans-serif;
	font-size: 12px;
}

FORM
{
	padding: 0 0 0 0;	
}

H1
{
	margin-bottom: 0px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 14px;
}


H2
{
	color: navy;
	margin-bottom: 0px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 12px;
}

H3
{
	/*font-family: arial, "lucida console", sans-serif;*/
	font-size: 10px;
	display: inline;
	border: 1px dashed grey;
	background-color: white;
	padding: 5 5 5 5;
}

H4
{
	
}
	
CODE
{
	font-style: italic;	
}

INPUT[type="text"]
{
	border: 1px solid black;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
}

INPUT.TextField
{
	border: 1px solid black;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
}

INPUT[type="password"]
{
	border: 1px solid black;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
}

INPUT.Button
{
	border: 2px solid #2286e3;
	background: white;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
	color: #2286e3;
}


INPUT[type="submit"]
{
	border: 2px solid #2286e3;
	background: white;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
	color: #2286e3;
}

INPUT.Button:HOVER
{
	color: #1a68b0;
	border: 2px solid #1a68b0;
}


INPUT[type="submit"]:HOVER
{
	color: #1a68b0;
	border: 2px solid #1a68b0;
}

A
{
	color: #2286e3;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dotted;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
}

A:VISITED{color: #2286e3;}
A:HOVER{color: #1a68b0; border-bottom: 1px solid;}
A:ACTIVE{color: #2286e3;}

A.copyright
{
	color: #9c9c9c;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dotted;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
}

A.copyright:VISITED{color: #9c9c9c;}
A.copyright:HOVER{color: #9c9c9c; border-bottom: 1px solid;}
A.copyright:ACTIVE{color: #9c9c9c;}

TABLE
{
	empty-cells: show;	
}

TH
{
	font-family: arial, "lucida console", sans-serif;
	font-size: 12px;
	background: orange;
	color: white;
}
	
TD
{
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;	
}
	
	
TABLE.menuPanel
{
	border: 2px inset;
	width: 100%;
}

A.menuItem
{
	border: 1px solid #999999;
	background: url('/images/images.jpg');
	color: white;
	text-decoration: none;
	width: 100%;
	display: block;
}

A.menuItem:visited
{
	border: 1px solid #999999;
	background: url('/images/images.jpg');
	color: white;
	text-decoration: none;
	width: 100%;
	display: block;
}

A.menuItem:active
{
	border: 1px solid #999999;
	background: url('/images/images.jpg');
	color: white;
	text-decoration: none;
	width: 100%;
	display: block;
}

A.menuItem:hover
{
	background: #e1e1e1;
	color: black;
}

A.menuItemActive
{
	border: 1px solid #999999;
	background: white;
	color: #9e2929;
	text-decoration: none;
	width: 100%;
	display: block;
}

A.menuItemActive:hover
{
	border: 1px solid #999999;
	background: white;
	color: #9e2929;
	text-decoration: none;
	width: 100%;
	display: block;
}

A.menuItemActive:visited
{
	border: 1px solid #999999;
	background: white;
	color: #9e2929;
	text-decoration: none;
	width: 100%;
	display: block;
}

A.menuItemActive:active
{
	border: 1px solid #999999;
	background: white;
	color: #9e2929;
	text-decoration: none;
	width: 100%;
	display: block;
}

.JavaSourceCode
{
	font-family: arial, "lucida console", sans-serif;
	font-size: 12px;	
}

code.java
{
	font-family: "lucida console", sans-serif;
	font-size: 10px;
	font-style: normal;		
}

TABLE .content_body
{
		background: #f1ffd4;
}

DIV.java_file_content
{
	border: 1px dashed grey;
	background: white;
	width: 96%;
	padding-top: 7px;
}
	
/***********************/
/* ShadowedLayer
/***********************/
*HTML TD.lb_corner_shadow
{
	width: 8px;
	background-image:none; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadows/lb_corner_shadow.png', sizingMethod='scale');
}

TD.rb_corner_shadow
{
	background-image:none; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadows/rb_corner_shadow.png', sizingMethod='scale');
}

TD.rt_corner_shadow
{
	background-image:none; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadows/rt_corner_shadow.png', sizingMethod='scale');
}


TD.horizontal_shadow
{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadows/horizontal_shadow.png', sizingMethod='scale');
}

TD.vertical_shadow
{
	background-image:none; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/shadows/vertical_shadow.png', sizingMethod='scale');
}

/***********************/
/* EJTransparentLayer (I.E)
/***********************/
TD.lb_transparent
{
	width: 20px;
	height: 20px;
	background-image:none; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/frames/transparent/red/lb.png', sizingMethod='scale');
}

TD.rb_transparent
{
	width: 20px;
	height: 20px;
	background-image:none; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/frames/transparent/red/rb.png', sizingMethod='scale');
}

TD.lt_transparent
{
	width: 20px;
	height: 37px;
	background-image:none; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/frames/transparent/red/lt.png', sizingMethod='scale');
}

TD.rt_transparent
{
	width: 20px;
	height: 37px;
	background-image:none; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/frames/transparent/red/rt.png', sizingMethod='scale');
}

TD.left_transparent
{
	width: 20px;
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/frames/transparent/red/left.png', sizingMethod='scale');
}

TD.top_transparent
{
	color:#463029;
	height: 37px;
	background-image:none; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/frames/transparent/red/top.png', sizingMethod='scale');
}

TD.right_transparent
{
	width: 20px;
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/frames/transparent/red/right.png', sizingMethod='scale');
}

TD.bottom_transparent
{
	height: 20px;
	background-image:none; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/frames/transparent/red/bottom.png', sizingMethod='scale');
}



/***********************/
/* Style pour code source JAVA
/***********************/
td.java, td.java-ln {vertical-align:top;}
tt.java, tt.java-ln, pre.java, pre.java-ln {line-height:1em; margin-bottom:0em;}
td.java-ln { text-align:right; }
tt.java-ln, pre.java-ln { color:#888888 }
/* Background       */ span.java0  { color:#ffffff; }
/* Line numbers       */ span.java1  { color:#808080; }
/* Multi-line comments       */ span.java2  { color:#3f7f5f; }
/* Single-line comments       */ span.java3  { color:#3f7f5f; }
/* Keywords       */ span.java4  { color:#7f0055; font-weight:bold; }
/* Strings       */ span.java5  { color:#2a00ff; }
/* Character constants       */ span.java6  { color:#990000; }
/* Numeric constants       */ span.java7  { color:#990000; }
/* Parenthesis       */ span.java8  { color:#000000; }
/* Primitive Types       */ span.java9  { color:#7f0055; font-weight:bold; }
/* Others       */ span.java10  { color:#000000; }
/* Javadoc keywords       */ span.java11  { color:#7f9fbf; }
/* Javadoc HTML tags       */ span.java12  { color:#7f7f9f; }
/* Javadoc links       */ span.java13  { color:#3f3fbf; }
/* Javadoc others       */ span.java14  { color:#3f5fbf; }
/* Undefined       */ span.java15  { color:#ff6100; }
/* Annotation       */ span.java16  { color:#646464; }

.ErrorMsg
{
	color: red;
	text-align: center;
}

.UserEntityCell
{
	/* border: 2px groove;*/
	height: 100%;
	background-color: white;
	vertical-align: top;
}

.UserEntityCell A
{
	color: blue;
	font-weight: normal;
	text-decoration: underline;
	border: none;
	font-family: "lucida console", sans-serif;
	font-size: 11px;
}

.UserEntityCell A:HOVER
{
	color: navy;
	text-decoration: underline;
	border: none;
}

.UserEntityCell A:VISITED{color: blue;}
.UserEntityCell A:ACTIVE{color: blue;}

.whiteLabel {
	color: white;
}

.rowSelected {
	background-color: #e9e9e9;
}

.rowUnSelected {
	background-color: white;
}

.ParentDialogBox{
	position: absolute;
	left: 0px;
	top: 0px;
}

.DialogBox{
	position: absolute;
	left: 0px;
	top: 0px;
	border: 2px solid orange;
	background-color: white;
}

TABLE.FixedContent {
	table-layout: fixed;
}

TABLE.FixedContent TD {
	font-family: "lucida console", sans-serif;
	font-size: 11px;
	white-space: nowrap;
}

TABLE.FixedContent TD DIV {
	overflow: hidden;
	white-space: nowrap;
	width: inherit;
}

DIV.Explorer {
	overflow: auto;
	height: 100%;
}

DIV.Explorer#ExplorerPanelLeft {
	border-right: 1px dotted gray;
}

TABLE.Error
{
	border: 1px dotted red;
	background-color: white;
}

TABLE.Error TD
{
	color: red;
	font-weight: bold;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
}