/***********************/
/* Menu header inactive
/***********************/

TD.mh_rb
{
	width: 4px;
	height: 4px;
	background-repeat: no-repeat;
	background-image:url(/images/menus/headers/inactive/mh_rb.png);
}


TD.mh_rt
{
	width: 4px;
	height: 4px;
	background-repeat: no-repeat;
	background-image:url(/images/menus/headers/inactive/mh_rt.png);
}

TD.mh_lb
{
	width: 4px;
	height: 4px;
	background-repeat: no-repeat;
	background-image:url(/images/menus/headers/inactive/mh_lb.png);
}


TD.mh_lt
{
	width: 4px;
	height: 4px;
	background-repeat: no-repeat;
	background-image:url(/images/menus/headers/inactive/mh_lt.png);
}


TD.mh_left
{
	width: 4px;
	background-repeat: repeat-y;
	background-image:url(/images/menus/headers/inactive/mh_left.png);
}


TD.mh_right
{
	width: 4px;
	background-repeat: repeat-y;
	background-image:url(/images/menus/headers/inactive/mh_right.png);
}

TD.mh_bottom
{
	height: 4px;
	background-repeat: repeat-x;
	background-image:url(/images/menus/headers/inactive/mh_bottom.png);
}


TD.mh_top
{
	color:#463029;
	height: 4px;
	background-repeat: repeat-x;
	background-image:url(/images/menus/headers/inactive/mh_top.png);
}
 
/***********************/
/* Menu header active
/***********************/

TD.mh_rb_active
{
	width: 4px;
	height: 4px;
	background-repeat: no-repeat;
	background-image:url(/images/menus/headers/active/mh_rb.png);
}


TD.mh_rt_active
{
	width: 4px;
	height: 4px;
	background-repeat: no-repeat;
	background-image:url(/images/menus/headers/active/mh_rt.png);
}

TD.mh_lb_active
{
	width: 4px;
	height: 4px;
	background-repeat: no-repeat;
	background-image:url(/images/menus/headers/active/mh_lb.png);
}


TD.mh_lt_active
{
	width: 4px;
	height: 4px;
	background-repeat: no-repeat;
	background-image:url(/images/menus/headers/active/mh_lt.png);
}


TD.mh_left_active
{
	width: 4px;
	background-repeat: repeat-y;
	background-image:url(/images/menus/headers/active/mh_left.png);
}


TD.mh_right_active
{
	width: 4px;
	background-repeat: repeat-y;
	background-image:url(/images/menus/headers/active/mh_right.png);
}

TD.mh_bottom_active
{
	height: 4px;
	background-repeat: repeat-x;
	background-image:url(/images/menus/headers/active/mh_bottom.png);
}


TD.mh_top_active
{
	color:#463029;
	height: 4px;
	background-repeat: repeat-x;
	background-image:url(/images/menus/headers/active/mh_top.png);
}
 
