TD.lb_transparent
{
	width: 20px;
	height: 19px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/lb.png', sizingMethod='crop')";
}

TD.rb_transparent
{
	width: 20px;
	height: 19px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/rb.png', sizingMethod='crop')";
}

TD.lt_transparent
{
	width: 20px;
	height: 17px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/lt.png', sizingMethod='crop')";
}

TD.rt_transparent
{
	width: 20px;
	height: 17px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/rt.png', sizingMethod='crop')";
}

TD.left_transparent
{
	width: 20px;
	background-image:none;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/left.png', sizingMethod='scale')";
}

TD.top_transparent
{
	color:#463029;
	height: 17px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/top.png', sizingMethod='scale')";
}

TD.right_transparent
{
	width: 20px;
	background-image:none;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/right.png', sizingMethod='scale')";
}

TD.bottom_transparent
{
	height: 19px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/bottom.png', sizingMethod='scale')";
}

/*****************/
TD.left_tab_active
{
	width: 20px;
	height: 26px;
	background-image:none;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/left_tab_active.png', sizingMethod='crop')";
}

TD.left_tab_inactive
{
	width: 20px;
	height: 27px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/left_tab_inactive.png', sizingMethod='crop')";
}

TD.right_tab_active
{
	width: 20px;
	height: 26px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/right_tab_active.png', sizingMethod='crop')";
}

TD.right_tab_inactive
{
	width: 20px;
	height: 27px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/right_tab_inactive.png', sizingMethod='crop')";
}

TD.top_tab_active
{
	color:white;
	height: 26px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/top_tab_active.png', sizingMethod='scale')";
	font-weight: bold;
	padding-top: 5px;
	font-size: 10px;
	font-family:Arial;
	white-space: nowrap;
}

TD.top_tab_inactive
{
	color:#463029;
	height: 27px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/top_tab_inactive.png', sizingMethod='scale')";
	padding-top: 5px;
	font-size: 10px;
	font-family:Arial;
	white-space: nowrap;
}