*HTML TD.lb_transparent
{
	width: 20px;
	height: 19px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/lb.png', sizingMethod='crop')";
}

*HTML TD.rb_transparent
{
	width: 20px;
	height: 19px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/rb.png', sizingMethod='crop')";
}

*HTML TD.lt_transparent
{
	width: 20px;
	height: 17px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/lt.png', sizingMethod='crop')";
}

*HTML TD.rt_transparent
{
	width: 20px;
	height: 17px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/rt.png', sizingMethod='crop')";
}

*HTML TD.left_transparent
{
	width: 20px;
	background-image:none;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/left.png', sizingMethod='scale')";
}

*HTML TD.top_transparent
{
	color:#463029;
	height: 17px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/top.png', sizingMethod='scale')";
}

*HTML TD.right_transparent
{
	width: 20px;
	background-image:none;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/right.png', sizingMethod='scale')";
}

*HTML TD.bottom_transparent
{
	height: 19px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/bottom.png', sizingMethod='scale')";
}

/*****************/
*HTML TD.left_tab_active
{
	width: 20px;
	height: 26px;
	background-image:none;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/left_tab_active.png', sizingMethod='crop')";
}

*HTML TD.left_tab_inactive
{
	width: 20px;
	height: 27px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/left_tab_inactive.png', sizingMethod='crop')";
}

*HTML TD.right_tab_active
{
	width: 20px;
	height: 26px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/right_tab_active.png', sizingMethod='crop')";
}

*HTML TD.right_tab_inactive
{
	width: 20px;
	height: 27px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/right_tab_inactive.png', sizingMethod='crop')";
}

*HTML TD.top_tab_active
{
	color:white;
	height: 26px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/top_tab_active.png', sizingMethod='scale')";
	font-weight: bold;
	padding-top: 5px;
	font-size: 12px;
	font-family: verdana;
	white-space: nowrap;
}

*HTML TD.top_tab_inactive
{
	color:white;
	height: 27px;
	background-image:none; 
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/top_tab_active.png', sizingMethod='scale')";
	padding-top: 5px;
	font-size: 10px;
	font-family: verdana;
	white-space: nowrap;
}

/***********************/
/* EJTransparentLayer
/***********************/

TD.rb_transparent
{
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-image:url("/images/tabs/rb.png");
}


TD.rt_transparent
{
	width: 20px;
	height: 10px;
	background-repeat: no-repeat;
	background-image:url("/images/tabs/rt.png");
}

TD.lb_transparent
{
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-image:url("/images/tabs/lb.png");
}


TD.lt_transparent
{
	width: 20px;
	height: 10px;
	background-repeat: no-repeat;
	background-image:url("/images/tabs/lt.png");
}


TD.left_transparent
{
	width: 20px;
	background-repeat: repeat-y;
	background-image:url("/images/tabs/left.png");
}


TD.right_transparent
{
	width: 20px;
	background-repeat: repeat-y;
	background-image:url("/images/tabs/right.png");
}

TD.bottom_transparent
{
	height: 19px;
	background-repeat: repeat-x;
	background-image:url("/images/tabs/bottom.png");
}


TD.top_transparent
{
	height: 17px;
	background-repeat: repeat-x;
	background-image:url("/images/tabs/top.png");
}

TD.left_tab_active
{
	width: 20px;
	height: 26px;
	background-repeat: no-repeat;
	background-image:url("/images/tabs/left_tab_active.png");
}

TD.left_tab_inactive
{
	width: 20px;
	height: 27px;
	background-repeat: no-repeat;
	background-image:url("/images/tabs/left_tab_inactive.png"); 
}

TD.right_tab_active
{
	width: 20px;
	height: 26px;
	background-repeat: no-repeat;
	background-image:url("/images/tabs/right_tab_active.png"); 
}

TD.right_tab_inactive
{
	width: 20px;
	height: 27px;
	background-repeat: no-repeat;
	background-image:url("/images/tabs/right_tab_inactive.png"); 
}

TD.top_tab_active
{
	color:white;
	height: 26px;
	background-repeat: repeat-x;
	background-image:url("/images/tabs/top_tab_active.png"); 
	font-weight: bold;
	padding-top: 5px;
	font-size: 12px;
	font-family: verdana;
	white-space: nowrap;
}

TD.top_tab_inactive
{
	color:white;
	height: 27px;
	background-repeat: repeat-x;
	background-image:url("/images/tabs/top_tab_active.png"); 
	padding-top: 5px;
	font-size: 10px;
	font-family: verdana;
	white-space: nowrap;
}
