.TreeNode
{
	font-family: "lucida console", serif;
	font-size: 10px;
	border: none;
	color: blue;
	white-space : nowrap;
	cursor: pointer;
}

.TreeNode:hover
{
	color: blue;
}
.TreeNode:active
{
	color: blue;
}
.TreeNode:visited
{
	color: blue;
}

