body {
	font-size: 0.8em;
	font-family: sans-serif;
}
	
h1 {
	color: #345a8a;
	background-color: #ffffff;
	font-family: sans-serif;
	margin: 0.1em 0;
}

h2 {
	color: #b7543d;
	background-color: #ffffff;
	font-family: sans-serif;
	margin: 0.1em 0;
	border-bottom: 2px solid;
}

h3 {
	color: #4f81bd;
	background-color: #ffffff;
	font-family: sans-serif;
	margin: 0.1em 0;
}

h4 {
	color: #4f81bd;
	background-color: #ffffff;
	font-family: sans-serif;
	margin: 0.1em 0;
}

a {
	/* text-decoration: none; */
	color: #0645AD;
}

a:visited {
	color: #0645AD;
}

a.external_link {
	/* text-decoration: none; */
	color: #0645AD;
	background: url("images/link.png") no-repeat scroll right center transparent;
	padding: 0 13px 0 0;
}

a.external_link:hover {
	text-decoration: underline;
}


a.menu {
	font-size: 1.4em;
	color: #7285a1;
	text-decoration: none;
}

a.menu:hover {
	color: orange;
}
	
	
a.activemenu {
	font-size: 1.4em;
	color: #26416a;
	text-decoration: none;
}

p {
		margin: 0.1em 0;
		}
		
ul{
		margin: 0.1em 0;
		}
		
table.list {
	border: 1px solid #8eabcf;
	border-collapse: collapse;
}

table.list TH {
	border: 1px solid #8eabcf;
	background-color: #8eabcf;
	color: white;
	padding: 0.2em 1em;
}

table.list TD {
	border: 1px solid #8eabcf;
	padding: 0.2em 1em;
}

P.code {
	padding: 0.5em;
	border: 1px dashed gray;
}

table.formulaire {
	border: 1px solid #8eabcf;
	border-collapse: collapse;
}

table.formulaire TH {
	border: 1px solid #8eabcf;
	background-color: #8eabcf;
	color: white;
	padding: 0.2em 1em;
}

table.formulaire TD {
	border: none;
	padding: 0.2em 1em;
}


INPUT.bouton {
	border: 2px solid #4f81bd;
	background: white;
	color: #4f81bd;
}

INPUT.texte {
	border: 1px solid #4f81bd;
}

P.alerte {
	font-weight: bold;
	color: orange;
}
