QToolBox .QWidget {
        background: white;
}

QToolButton {
	border: none;
   background: none;
}

QToolButton:hover {
        border: 2px solid <BORDER_COLOR>;
		background: #fafafa;
   border-radius: 4px;
}


QToolButton::checked {
border: 2px solid <BORDER_COLOR>;
background: #fafafa;
border-radius: 4px;
}

 
QGroupBox {
        border: 2px solid <BORDER_COLOR>;
	border-radius: 4px;
	margin-top: 10px;
	font: bold;
}

QGroupBox::title {
  subcontrol-origin: margin;
  subcontrol-position: top left; /* position at the top center */
  left: 6px;
        border: 1px solid <BORDER_COLOR>;
        color: <BORDER_COLOR>;
	background: #ffffff;
}

QLabel {
	background: none;
}

QSlider {
	background: none;
}

QLineEdit {
	background: #FFFFFF;
        border: 1px solid <BORDER_COLOR>;
}


QLineEdit[readOnly="true"]{
        background: <DSIABLED_CONTROL>;
	color: gray;
}
 
 
QComboBox {
	background: #FFFFFF;
        border: 1px solid <BORDER_COLOR>;
	color: black;
}

QComboBox[readOnly="true"]{
        background: <DSIABLED_CONTROL>;
	color: gray;
}
 
QRadioButton {
	background: none;
}

QCheckBox {
	background: none;
}

QSpinBox {
	background: none;
}


QTreeView {
	background: #FFFFFF;
}


QPlainTextEdit[readOnly="true"] {
        background: <DSIABLED_CONTROL>;
	color: gray;
}

QPlainTextEdit {
	background: #FFFFFF;
        border: 1px solid <BORDER_COLOR>;
}


QTextEdit[readOnly="true"] {
        background: <DSIABLED_CONTROL>;
	color: gray;
}

QTextEdit {
	background: #FFFFFF;
        border: 1px solid <BORDER_COLOR>;
}


QListView {
	background: #FFFFFF;
}

QTableView {
	background: #FFFFFF;
}

QTableView::item {
	padding: 1px;
}
                     
QHeaderView::section {
     background-color: <COLUMN_HEADER>;
     color: white;
     padding-left: 3px;
     padding-right: 3px;
     border: 1px solid white;
}


QHeaderView::section:checked {
    background-color: <COLUMN_HEADER_CHECKED>;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid white;
}

QPushButton:flat {
   border: none;
    background: none;
    min-width: 16px;
}

QToolBox {
        border: 2px solid <BORDER_COLOR2>;
	background: white;
	border-radius: 3px;
	padding: 1;
}

QToolBox::tab {
        border: 2px solid <BORDER_COLOR2>;
	color: white;
        background: <BORDER_COLOR2>;
}
