
QSplitter {
        background: white;
}


QSplitter::handle {
	background-color: #cccccc;
}

QLabel#title {
	font: bold 18px;
	font-family: sans-serif;
	color: #ffffff;
}


QMenuBar {
        background: #ffffff;
	border: none;
}

 
QToolButton {
	border: none;
   background: none;
   border-radius: 4px;
}

QToolButton:hover {
        border: 2px solid #2a2a2a;
		background: #fafafa;
   border-radius: 4px;
}


QToolButton::checked {
border: 2px solid #2a2a2a;
	background: #fafafa;
border-radius: 4px;
}



QToolTip {
         border: 2px solid darkkhaki;
         padding: 3px;
         border-radius: 4px;
         opacity: 240;
}

 
QPushButton {
                border: 1px solid #747474;
                border-radius: 4px;
                color: #747474;
		padding: 6px;
                background: #e4e4e4;
                min-width: 120px;
}

QPushButton:pressed {
   border-color: #2a2a2a;
}

QPushButton:hover {
   border-color: #436bb6;
   background: #eaf2ff;
}

QPushButton:default {
        border: 2px solid #2055b8;
}

QPushButton:disabled {
   color: #a2a2a2;
}

QGroupBox {
        border: 2px solid #2a2a2a;
        background: white;
	border-radius: 4px;
	margin-top: 10px;
	font: bold;
}

QGroupBox::title {
  subcontrol-origin: margin;
  subcontrol-position: top left; /* position at the top center */
  left: 6px;
        border: 1px solid #2a2a2a;
        color: #2a2a2a;
	background: #ffffff;
}

QLabel {
	background: none;
}

QSlider {
	background: none;
}

QLineEdit {
	background: #FFFFFF;
        border: 1px solid #2a2a2a;
}


QLineEdit[readOnly="true"]{
	background: #dfe0e8;
	color: gray;
}
 
 
QComboBox {
	background: #FFFFFF;
        border: 1px solid #2a2a2a;
	color: black;
}

QComboBox[readOnly="true"]{
	background: #dfe0e8;
	color: gray;
}
 
QRadioButton {
	background: none;
}

QCheckBox {
	background: none;
}

QSpinBox {
	background: none;
}


QTreeView {
	background: #FFFFFF;
}


QPlainTextEdit[readOnly="true"] {
	background: #dfe0e8;
	color: gray;
}

QPlainTextEdit {
	background: #FFFFFF;
        border: 1px solid #2a2a2a;
}


QTextEdit[readOnly="true"] {
	background: #dfe0e8;
	color: gray;
}

QTextEdit {
	background: #FFFFFF;
        border: 1px solid #2a2a2a;
}


QListView {
	background: #FFFFFF;
}

QTableView {
	background: #FFFFFF;
}

QTableView::item {
	padding: 1px;
}
                     
QStatusBar {
        background: white;
     color: black;
 }

QHeaderView::section {
     background-color: #808080;
     color: white;
     padding-left: 3px;
     padding-right: 3px;
     border: 1px solid white;
}


QHeaderView::section:checked {
    background-color: #5b5b5b;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid white;
}

QPushButton:flat {
   border: none;
    background: none;
    min-width: 16px;
}


QToolBox {
        border: 2px solid #666666;
        background: white;
        border-radius: 3px;
        padding: 1;
}

QToolBox::tab {
        border: 2px solid #666666;
        color: white;
        background: #666666;
}

QTabBar::tab {
   background:white;
   border: 1px solid #2a2a2a;
   border-bottom-color: white;
   border-bottom: none;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   min-width: 8ex;
   padding: 4px;
}

QTabBar::tab:hover {
   background: white;
}

QTabBar::tab:selected {
   border-bottom-color: white;
   border-color: #2a2a2a;
   padding-left: 9px;
   padding-right: 9px;
}


QTabBar::tab:!selected {
border: 1px solid #2a2a2a;
padding-left: 10px;
padding-right: 10px;
 margin-top: 4px;
}

QToolBar {
        background: white;
}


QProgressBar {
     border: none;
     margin:  1px;
     padding: 0px;
     text-align: center;
 }

 QProgressBar::chunk {
     width: 1px;
 }
